/*
 * This file has been deprecated as part of the Benow rebrand.
 * All cyberpunk visual effects have been removed.
 * Professional design utilities are now in globals.css
 *
 * Date: 2025-12-30
 * Change: Rebrand from cyberpunk theme to Benow professional aesthetic
 */
